[submodule "docker-compose"]
    path = docker-compose
    url = https://github.com/yohrannes/yohrannes.com.git

[submodule "kubernetes"]
    path = kubernetes
    url = https://github.com/yohrannes/yohrannes.com.git
