global:
  scrape_interval: 1m

scrape_configs:
  - job_name: 'webport'
    static_configs:
      - targets: ['webport:5000']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'nginx-exporter'
    static_configs:
      - targets: ['nginx-exporter:9913']