<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/print.css">
    <link rel="stylesheet" href="../static/css/tablet.css">
    <link rel="stylesheet" href="../static/css/desktop.css">
    <link rel="stylesheet" href="../static/css/big-screens.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function detectRegion() {
            var language = navigator.language || navigator.userLanguage;
            return language.substring(0, 2);
        }
        function askLanguage() {
            var region = detectRegion();
            if (region != "en") {
            var message = "This site is only available in english. Do you want the browser to translate the content for you?";
            if (confirm(message)) {
                document.documentElement.setAttribute("lang", "en");
                document.documentElement.setAttribute("translate", "yes");
            }
            }
        }
        window.onload = askLanguage;
    </script>
    <title>
        Yoh.
    </title>
</head>
<body>
<header>
    <!-- <div>
        <h1 onmouseover="HoverShowTitle()" onmouseout="HoverHideTitle()">
            <a id="title" href="whoami" target="_self">Website DevOps</a>
        </h1> 
    </div>-->
    <img id="devopslogo" src="../static/images/DevOps.png" alt="">
    <nav>
        <menu id="homemenu">
            <h2 id="plan" class="menuclick" onclick="clickPlan()">Plan</h2>

            <menu id="menuplan" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="plan1" class="animbackmenu1" onclick="clickPlan()">Plan</h2>
                    <h2 id="plan2" class="animbackmenu2" onclick="clickPlan()">Plan</h2>
                    <h2 id="plan3" class="animbackmenu3" onclick="clickPlan()">Plan</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <h2 id="professionalnetworks" class="secondmenuclick" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                <h2 id="socialcircles" class="secondmenuclick" onclick="clickSocialCircles()">Social Circles</h2>
            </menu>

            <menu id="menuprofessionalnetworks" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="professionalnetworks1" class="animbackmenu1" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 id="professionalnetworks2" class="animbackmenu2" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 id="professionalnetworks3" class="animbackmenu3" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.linkedin.com/in/yohrannes-santos-bigoli-46076ab3/" target="_blank" rel="external">Linkedin</a>
                        <a href="https://github.com/yohrannes" target="_blank" rel="external">Github</a>
                        <a href="https://hub.docker.com/u/yohrannes" target="_blank" rel="external">DockerHub</a>
                        <a href="https://stackoverflow.com/users/19536006/yohrannes-santos-bigoli" target="_blank" rel="external">Stack Overflow</a>
                        <a href="https://social.msdn.microsoft.com/Profile/yohrannes%20santos%20bigoli/activity" target="_blank" rel="external">Forum Microsoft</a>
                    </li>
                </ul>
            </menu>

            <menu id="menusocialcircles" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="socialcircles1" class="animbackmenu1" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 id="socialcircles2" class="animbackmenu2" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 id="socialcircles3" class="animbackmenu3" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.instagram.com/yohrannes_tribal/" target="_blank" rel="external">Instagram</a>
                    </li>
                </ul>
            </menu>

            <h2 id="code" class="menuclick" onclick="clickCode()">Code</h2>

            <menu id="menucode" class="firstmenu">
                <menu class="animbackmenu"> 
                    <h2 id="code1" class="animbackmenu1" onclick="clickCode()">Code</h2>
                    <h2 id="code2" class="animbackmenu2" onclick="clickCode()">Code</h2>
                    <h2 id="code3" class="animbackmenu3" onclick="clickCode()">Code</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <h2 id="devops" class="secondmenuclick" onclick="clickDevOps()">Dev Ops</h2>
                <h2 id="backend" class="secondmenuclick" onclick="clickBackend()">Backend</h2>

            </menu>

            <menu id="menudevops" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="devops1" class="animbackmenu1" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 id="devops2" class="animbackmenu2" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 id="devops3" class="animbackmenu3" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/accesshub" target="_blank" rel="external">AccessHub - ssh manager</a>
                        <a href="https://github.com/yohrannes/docker-mine" target="_blank" rel="external">Mine server - Docker</a>
                    </li>
                </ul>
            </menu>

            <menu id="menubackend" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="backend1" class="animbackmenu1" onclick="clickBackend()">Backend</h2>
                    <h2 id="backend2" class="animbackmenu2" onclick="clickBackend()">Backend</h2>
                    <h2 id="backend3" class="animbackmenu3" onclick="clickBackend()">Backend</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/mysql-pizzariadb" target="_blank" rel="external">Pizzeria - Database</a>
                    </li>
                </ul>
            </menu>

            <h2 id="build" class="menuclick" onclick="clickBuild()">Build</h2>

            <menu id="menubuild" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="build1" class="animbackmenu1" onclick="clickBuild()">Build</h2>
                    <h2 id="build2" class="animbackmenu2" onclick="clickBuild()">Build</h2>
                    <h2 id="build3" class="animbackmenu3" onclick="clickBuild()">Build</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <h2 id="kubernetes" class="secondmenuclick" onclick="clickKubernetes()">Kubernetes</h2>
                <h2 id="vpsnetwork" class="secondmenuclick" onclick="clickVpsnetwork()">Vps network</h2>

            </menu>

            <menu id="menukubernetes" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="kubernetes1" class="animbackmenu1" onclick="clickKubernetes()">Kubernetes</h2>
                    <h2 id="kubernetes2" class="animbackmenu2" onclick="clickKubernetes()">Kubernetes</h2>
                    <h2 id="kubernetes3" class="animbackmenu3" onclick="clickKubernetes()">Kubernetes</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                    <ul class="linklist">
                        <li><a href="https://www.evernote.com/shard/s397/sh/1a982392-27d2-04d5-d5fa-a3d6b06291c4/memuRepv4mhiPQrJRt_74QVDHjpIu6xs9K-LOwCQX-5ZWeT50a5DwvHpSw" target="_blank" rel="external">K8s deployment Imperative - VAP (pt-br)</a>
                    </ul>
            </menu>

            <menu id="menuvpsnetwork" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="vpsnetwork1" class="animbackmenu1" onclick="clickVpsnetwork()">Vps network</h2>
                    <h2 id="vpsnetwork2" class="animbackmenu2" onclick="clickVpsnetwork()">Vps network</h2>
                    <h2 id="vpsnetwork3" class="animbackmenu3" onclick="clickVpsnetwork()">Vps network</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                    <ul class="linklist">
                        <li><a href="https://www.evernote.com/shard/s397/sh/37c0780f-5120-283e-e205-98d288c82980/DFlDmuSfGrN8KCIJ-JhFp_HZxlFexBs7KzLSxtgQ_ICwN06hKhYG6eYT7g" target="_blank" rel="external">VS code SFTP - VAP (en-us)</a>
                        <li><a href="https://www.evernote.com/shard/s397/sh/95493132-6997-679c-bfbc-d870c0ee1346/PAD3us0cncccIbMutVVoZ9WcoWRUmg1bjBKmTySl9msPBjjb7wAACH8VoA" target="_blank" rel="external">Putty SSH - VAP (pt-br)</a>
                    </ul>
            </menu>
            
            <h2 id="test" class="menuclick" onclick="clickTest()">Test</h2>

            <menu id="menutest" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="test1" class="animbackmenu1" onclick="clickTest()">Test</h2>
                    <h2 id="test2" class="animbackmenu2" onclick="clickTest()">Test</h2>
                    <h2 id="test3" class="animbackmenu3" onclick="clickTest()">Test</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.linkedin.com/posts/yohrannes_cloud-aws-google-activity-7075804666545999872-H4xU?utm_source=share&utm_medium=member_desktop" target="_blank" rel="external">Cloud in practice imersion</a>
                        <a href="#" onclick="window.open('https://github.com/yohrannes/MesDoKubernetes'); window.open('https://www.evernote.com/shard/s397/sh/bdd7ef37-5c55-61fb-98d4-15a76b58920a/LMbxe7iiDKSp33MWLvOv8DkNYxqBB52Dy2IP8DjnIRAYgtDvAUQipxl8_g');" target="_blank" rel="external">Kubernetes Month</a>
                    </li>
                </ul>
            </menu>

            <h2 id="release" class="menuclick" onclick="clickRelease()">Release</h2>

            <menu id="menurelease" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="release1" class="animbackmenu1" onclick="clickRelease()">Release</h2>
                    <h2 id="release2" class="animbackmenu2" onclick="clickRelease()">Release</h2>
                    <h2 id="release3" class="animbackmenu3" onclick="clickRelease()">Release</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <h2 id="googlecloudhandson" class="secondmenuclick" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                <h2 id="oraclecloudhandson" class="secondmenuclick" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
            </menu>

            <menu id="menuoraclecloudhandson" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="oraclecloudhandson1" class="animbackmenu1" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                    <h2 id="oraclecloudhandson2" class="animbackmenu2" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                    <h2 id="oraclecloudhandson3" class="animbackmenu3" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/6b4e9638-68f6-e36f-dcf9-00e922dc8e10/ImiTNOIbuZaUYPoJ-7uY_Ss3viz05NodeBCsrQctgs-DVTftUKX3hosXyw" target="_blank" rel="external">K8s + ingress-nginx + cert-manager totally free OKE (pt-br)</a>
                </ul>
            </menu>

            <menu id="menugooglecloudhandson" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="googlecloudhandson1" class="animbackmenu1" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 id="googlecloudhandson2" class="animbackmenu2" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 id="googlecloudhandson3" class="animbackmenu3" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.cloudskillsboost.google/public_profiles/d446290c-301d-4cec-bf2c-c1e1ba9752f1" target="_blank" rel="external">Badges and certifications</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7135266117219958786/" target="_blank" rel="external">IAM & VPC Network</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7138535133325721600/" target="_blank" rel="external">New VPC GCP <-> AWS</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7142876270115168257/" target="_blank" rel="external">Lift Shift + K8s Migrations</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7146137765502525440/" target="_blank" rel="external">Migration US > Australia</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7148674457295888384/" target="_blank" rel="external">Load Balancer US > Europe</a>
                </ul>
            </menu>

            <h2 id="deploy" class="menuclick" onclick="clickDeploy()">Deploy</h2>

            <h2 id="menudeploy" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="deploy1" class="animbackmenu1" onclick="clickDeploy()">Deploy</h2>
                    <h2 id="deploy2" class="animbackmenu2" onclick="clickDeploy()">Deploy</h2>
                    <h2 id="deploy3" class="animbackmenu3" onclick="clickDeploy()">Deploy</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.cloudskillsboost.google/public_profiles/d446290c-301d-4cec-bf2c-c1e1ba9752f1" target="_blank" rel="external">Google Cloud Badges and Certifications</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/b7522235-42f8-c124-87ab-25e5171b2399/72rIhR0w6HYPgydNMUs9qo_w_3F-R_PFfxuetgPSeyNDnuJzLgc1Ge23MA" target="_blank" rel="external">HTML and CSS</a>
                </ul>
            </h2>

            <h2 id="operate" class="menuclick" onclick="clickOperate()">Operate</h2>

            <menu id="menuoperate" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="operate1" class="animbackmenu1" onclick="clickOperate()">Operate</h2>
                    <h2 id="operate2" class="animbackmenu2" onclick="clickOperate()">Operate</h2>
                    <h2 id="operate3" class="animbackmenu3" onclick="clickOperate()">Operate</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="contact" target="_self">Get in touch</a>
                        <a href="whoami" target="_self">Who am i</a>
                    </li>
                </ul>
            </menu>

            <h2 id="monitor" class="menuclick" onclick="clickMonitor()">Monitor</h2>

            <menu id="menumonitor" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="monitor1" class="animbackmenu1" onclick="clickMonitor()">Monitor</h2>
                    <h2 id="monitor2" class="animbackmenu2" onclick="clickMonitor()">Monitor</h2>
                    <h2 id="monitor3" class="animbackmenu3" onclick="clickMonitor()">Monitor</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="contact" target="_self">Get in touch</a>
                        <a href="whoami" target="_self">Who am i</a>
                    </li>
                </ul>
            </menu>

        </menu>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.get('/pod-info', function(data) {
                $('#websiteinfo').html(data);
            });
        });
    </script>
    <a id="monit-logo" href="https://www.google.com">
        <img src="../static/images/monit-logo.png" alt="">
    </a>
    <div id="k8s-logo">
        <img src="../static/images/k8s-logo.png" alt="">
    </div>
    <div id="k8s-logo">
        <img src="../static/images/k8s-logo.png" alt="">
        <a id="websiteinfo" href="https://github.com/yohrannes/website-portifolio/tree/main/kubernetes" target="_blank" rel="external"></a>
    </div>
    <script src="../static/js/anim-menu-devops.js"></script>
    <script src="../static/js/anim-titulo.js"></script>
    <script src="../static/js/anim-typewriter.js"></script>
    <!-- <script src="../static/js/anim-back-menu.js"></script> -->
</header>
</body>
</html>
