<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/print.css">
    <link rel="stylesheet" href="../static/css/tablet.css">
    <link rel="stylesheet" href="../static/css/desktop.css">
    <link rel="stylesheet" href="../static/css/big-screens.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Yoh.
    </title>
</head>
<body>
<header>
    <div>
        <h1 id="title" onmouseover="HoverShowTitle()" onmouseout="HoverHideTitle()">
            Yohrannes Santos Bigoli
        </h1>
    </div>
    <div id="foto1"></div>
    <div id="foto2"></div>
    <img id="foto" src="https://avatars.githubusercontent.com/u/51239326?v=4" alt="">
    <div id="typewrite" onmouseover="HoverShowTitle()" onmouseout="HoverHideTitle()">
        <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Hi...", "be welcome!", "bye..." ]'>
                <span class="wrap"></span>
            </a>
        </h1>
    </div>
    <nav>
        <menu id="homemenu">
            <h2 id="social" class="menuclick" onclick="clickSocial()">Social</h2>

            <menu id="menusocial" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="social1" class="animbackmenu1" onclick="clickSocial()">Social</h2>
                    <h2 id="social2" class="animbackmenu2" onclick="clickSocial()">Social</h2>
                    <h2 id="social3" class="animbackmenu3" onclick="clickSocial()">Social</h2>
                </menu>
                <h2 id="professionalnetworks" class="secondmenuclick" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                <h2 id="socialcircles" class="secondmenuclick" onclick="clickSocialCircles()">Social Circles</h2>
            </menu>

            <menu id="menuprofessionalnetworks" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="professionalnetworks1" class="animbackmenu1" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 id="professionalnetworks2" class="animbackmenu2" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 id="professionalnetworks3" class="animbackmenu3" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.linkedin.com/in/yohrannes-santos-bigoli-46076ab3/" target="_blank" rel="external">Linkedin</a>
                        <a href="https://github.com/yohrannes" target="_blank" rel="external">Github</a>
                        <a href="https://gitlab.com/yohrannes" target="_blank" rel="external">Gitlab</a>
                        <a href="https://hub.docker.com/u/yohrannes" target="_blank" rel="external">DockerHub</a>
                    </li>
                </ul>
            </menu>

            <menu id="menusocialcircles" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="socialcircles1" class="animbackmenu1" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 id="socialcircles2" class="animbackmenu2" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 id="socialcircles3" class="animbackmenu3" onclick="clickSocialCircles()">Social Circles</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.instagram.com/yohrannes_tribal/" target="_blank" rel="external">Instagram</a>
                    </li>
                </ul>
            </menu>

            <h2 id="projects" class="menuclick" onclick="clickProjects()">Projects</h2>

            <menu id="menuprojects" class="firstmenu">
                <menu class="animbackmenu"> 
                    <h2 id="projects1" class="animbackmenu1" onclick="clickProjects()">Projects</h2>
                    <h2 id="projects2" class="animbackmenu2" onclick="clickProjects()">Projects</h2>
                    <h2 id="projects3" class="animbackmenu3" onclick="clickProjects()">Projects</h2>
                </menu>
                <h2 id="devops" class="secondmenuclick" onclick="clickDevOps()">Dev Ops</h2>
                <h2 id="backend" class="secondmenuclick" onclick="clickBackend()">Backend</h2>
                <h2 id="frontend" class="secondmenuclick" onclick="clickFrontend()">Frontend</h2>
                <h2 id="personaleditions" class="secondmenuclick" onclick="clickPersonalEditions()">Personal Editions</h2>
            </menu>

            <menu id="menudevops" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="devops1" class="animbackmenu1" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 id="devops2" class="animbackmenu2" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 id="devops3" class="animbackmenu3" onclick="clickDevOps()">Dev Ops</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/accesshub" target="_blank" rel="external">AccessHub - ssh manager</a>
                        <a href="https://github.com/yohrannes/docker-mine" target="_blank" rel="external">Minecraft server - Docker</a>
                    </li>
                </ul>
            </menu>

            <menu id="menubackend" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="backend1" class="animbackmenu1" onclick="clickBackend()">Backend</h2>
                    <h2 id="backend2" class="animbackmenu2" onclick="clickBackend()">Backend</h2>
                    <h2 id="backend3" class="animbackmenu3" onclick="clickBackend()">Backend</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/mysql-pizzariadb" target="_blank" rel="external">Pizzeria - Database</a>
                    </li>
                </ul>
            </menu>

            <menu id="menufrontend" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="frontend1" class="animbackmenu1" onclick="clickFrontend()">Frontend</h2>
                    <h2 id="frontend2" class="animbackmenu2" onclick="clickFrontend()">Frontend</h2>
                    <h2 id="frontend3" class="animbackmenu3" onclick="clickFrontend()">Frontend</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/php-moderno" target="_blank" rel="external">PHP learn practices</a>
                        <a href="https://github.com/yohrannes/html-css" target="_blank" rel="external">HTML CSS practices</a>
                        <a href="https://github.com/yohrannes/htmlcss-projeto-login" target="_blank" rel="external">HTML CSS login page</a>
                        <a href="https://github.com/yohrannes/htmlcss-projeto-social" target="_blank" rel="external">HTML CSS social medias page</a>
                        <a href="https://github.com/yohrannes/htmlcss-projeto-cordel" target="_blank" rel="external">HTML CSS nice scrool page</a>
                    </li>
                </ul>
            </menu>

            <menu id="menupersonaleditions" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="personaleditions1" class="animbackmenu1" onclick="clickPersonalEditions()">Personal Editions</h2>
                    <h2 id="personaleditions2" class="animbackmenu2" onclick="clickPersonalEditions()">Personal Editions</h2>
                    <h2 id="personaleditions3" class="animbackmenu3" onclick="clickPersonalEditions()">Personal Editions</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="http://pinterest.com/catnoeditor/edição/" target="_blank" rel="external">Pinterest</a>
                    </li>
                </ul>
            </menu>

            <h2 id="tasksandguides" class="menuclick" onclick="clickTasksAndGuides()">Tasks and guides</h2>

            <menu id="menutasksandguides" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="tasksandguides1" class="animbackmenu1" onclick="clickTasksAndGuides()">Task nd g..</h2>
                    <h2 id="tasksandguides2" class="animbackmenu2" onclick="clickTasksAndGuides()">Task nd g..</h2>
                    <h2 id="tasksandguides3" class="animbackmenu3" onclick="clickTasksAndGuides()">Task nd g..</h2>
                </menu>
                <h2 id="miscellaneous" class="secondmenuclick" onclick="clickMiscellaneous()">Miscellaneous</h2>
                <h2 id="virtuozzo" class="secondmenuclick" onclick="clickVirtuozzo()">Virtuozzo</h2>
                <h2 id="hostingservices" class="secondmenuclick" onclick="clickHostingServices()">Hosting Services</h2>
            </menu>

            <menu id="menumiscellaneous" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="miscellaneous1" class="animbackmenu1" onclick="clickMiscellaneous()">Miscellaneous</h2>
                    <h2 id="miscellaneous2" class="animbackmenu2" onclick="clickMiscellaneous()">Miscellaneous</h2>
                    <h2 id="miscellaneous3" class="animbackmenu3" onclick="clickMiscellaneous()">Miscellaneous</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/bc017a63-6d27-dd78-c146-329579dddd56/QhjnKiNzKoWGzucYN7JAVsk9Yt4BNjOATrBbcsZPrI9ktxpQBuA19QxVTw" target="_blank" rel="external">Good coexistence - Guide (en-us)</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/871246a0-c0c2-1900-fb9e-90db7903e84d/sX6KUo6D65rFSxTLDJQk54Wk-YkHILNMaRJR1E1XgWG3lQ1u3BMSyA-DWg" target="_blank" rel="external">Minecraft server - Step by step (pt-br)</a>
                </ul>
            </menu>

            <menu id="menuvirtuozzo" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="virtuozzo1" class="animbackmenu1" onclick="clickVirtuozzo()">Virtuozzo</h2>
                    <h2 id="virtuozzo2" class="animbackmenu2" onclick="clickVirtuozzo()">Virtuozzo</h2>
                    <h2 id="virtuozzo3" class="animbackmenu3" onclick="clickVirtuozzo()">Virtuozzo</h2>
                </menu>
                    <ul class="linklist">
                        <li><a href="https://www.evernote.com/shard/s397/sh/37c0780f-5120-283e-e205-98d288c82980/DFlDmuSfGrN8KCIJ-JhFp_HZxlFexBs7KzLSxtgQ_ICwN06hKhYG6eYT7g" target="_blank" rel="external">VS code SFTP Virtuozzo to windows (en-us)</a>
                    </ul>
            </menu>

            <menu id="menuhostingservices" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="hostingservices1" class="animbackmenu1" onclick="ClickHostingServices()">Hostn. Svc..</h2>
                    <h2 id="hostingservices2" class="animbackmenu2" onclick="ClickHostingServices()">Hostn. Svc..</h2>
                    <h2 id="hostingservices3" class="animbackmenu3" onclick="ClickHostingServices()">Hostn. Svc..</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/90161548-c163-e825-6e9b-0b37e8d00475/JS5JcHSNIBsqtKcPNKenkbWmx7ZYQRSvzaS1uS4ZFDwx1OlR0QfHulWvyA" target="_blank" rel="external">Delist tutorial SORBS Spam Blacklist (pt-br)</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/aa4feff3-a081-da4c-9b4e-a40deb96238a/PNS2uRwM66Rhrd13QBkiaaqef6WPfmfw31ltM8_5GnXn7qWZ7dV_BIA7zQ" target="_blank" rel="external">How to block email contacts in CWP panel</a>
                </ul>
            </menu>

            <h2 id="forum" class="menuclick" onclick="clickForum()">Forum</h2>

            <menu id="menuforum" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="forum1" class="animbackmenu1" onclick="clickForum()">Forum</h2>
                    <h2 id="forum2" class="animbackmenu2" onclick="clickForum()">Forum</h2>
                    <h2 id="forum3" class="animbackmenu3" onclick="clickForum()">Forum</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://stackoverflow.com/users/19536006/yohrannes-santos-bigoli" target="_blank" rel="external">Stack Overflow</a>
                        <a href="https://social.msdn.microsoft.com/Profile/yohrannes%20santos%20bigoli/activity" target="_blank" rel="external">Forum Microsoft</a>
                    </li>
                </ul>
            </menu>
            
            <h2 id="bootcamp" class="menuclick" onclick="clickBootcamp()">Bootcamps</h2>

            <menu id="menubootcamp" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="bootcamp1" class="animbackmenu1" onclick="clickBootcamp()">Bootcamps</h2>
                    <h2 id="bootcamp2" class="animbackmenu2" onclick="clickBootcamp()">Bootcamps</h2>
                    <h2 id="bootcamp3" class="animbackmenu3" onclick="clickBootcamp()">Bootcamps</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.linkedin.com/posts/yohrannes_cloud-aws-google-activity-7075804666545999872-H4xU?utm_source=share&utm_medium=member_desktop" target="_blank" rel="external">Imersão Cloud na prática</a>
                    </li>
                </ul>
            </menu>

            <h2 id="handsonprojects" class="menuclick" onclick="clickHandsOnProjects()">Hands-on Projects</h2>

            <menu id="menuhandsonprojects" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="handsonprojects1" class="animbackmenu1" onclick="clickHandsOnProjects()">Hands-on Projects</h2>
                    <h2 id="handsonprojects2" class="animbackmenu2" onclick="clickHandsOnProjects()">Hands-on Projects</h2>
                    <h2 id="handsonprojects3" class="animbackmenu3" onclick="clickHandsOnProjects()">Hands-on Projects</h2>
                </menu>
                <!-- PHP Pages test -->
                <h2 id="googlecloudhandson" class="secondmenuclick" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
            </menu>

            <menu id="menugooglecloudhandson" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="googlecloudhandson1" class="animbackmenu1" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 id="googlecloudhandson2" class="animbackmenu2" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 id="googlecloudhandson3" class="animbackmenu3" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7135266117219958786/" target="_blank" rel="external">Google Cloud - IAM & VPC Network</a>
                </ul>
            </menu>

            <h2 id="achievementsandcertifications" class="menuclick" onclick="clickAchievementsAndCertifications()">Achievements & Certifications</h2>

            <h2 id="menuachievementsandcertifications" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="achievementsandcertifications1" class="animbackmenu1" onclick="clickAchievementsAndCertifications()">Achievements & Certifications</h2>
                    <h2 id="achievementsandcertifications2" class="animbackmenu2" onclick="clickAchievementsAndCertifications()">Achievements & Certifications</h2>
                    <h2 id="achievementsandcertifications3" class="animbackmenu3" onclick="clickAchievementsAndCertifications()">Achievements & Certifications</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/b7522235-42f8-c124-87ab-25e5171b2399/72rIhR0w6HYPgydNMUs9qo_w_3F-R_PFfxuetgPSeyNDnuJzLgc1Ge23MA" target="_blank" rel="external">HTML and CSS</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/72ce8104-0057-e454-8eaa-001704a7de9c/fcVjbvlUVn7EfMFxKqoOiVc80n45fLL2A3-1U5F6y9cGcD25cOLPTKZsNg" target="_blank" rel="external">Git and Github Basics</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/1df58ab4-d5d1-545c-cdc5-619d724d0a37/H1OYleamvuzTPjNsqfW3fk8lIFAJphDIBrb-6eVy9N3wr5LSvhLeAp0byw" target="_blank" rel="external">Docker - with Swarm and K8s</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/837effd1-61ad-2c5e-f871-5528bac462ec/9zZg0kXxwBsGaE0YqmXuyYm0xTYMASLXCgBoYk0V525F6nL4OrPBQglndA" target="_blank" rel="external">Shell Script</a>
                </ul>
            </h2>

            <h2 id="aboutme" class="menuclick" onclick="clickAboutMe()">About me</h2>

            <menu id="menuaboutme" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="aboutme1" class="animbackmenu1" onclick="clickAboutMe()">About me</h2>
                    <h2 id="aboutme2" class="animbackmenu2" onclick="clickAboutMe()">About me</h2>
                    <h2 id="aboutme3" class="animbackmenu3" onclick="clickAboutMe()">About me</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.evernote.com/shard/s397/sh/685f1c2d-2299-bb36-5c21-7e5a18c423e7/rNSHghOGNGUd59vbYc1sVZYeTZOSaygHA5QVROGyvE__YVUw_ckBg1gr7g" target="_blank" rel="external">Get in touch</a>
                    </li>
                </ul>
            </menu>

        </menu>
    </nav>
    <script src="../static/js/anim-menu.js"></script>
    <script src="../static/js/anim-titulo.js"></script>
    <script src="../static/js/anim-typewriter.js"></script>
</header>
</body>
</html>