<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog-style/style.css">
    <link rel="stylesheet" href="../static/css/blog-style/print.css">
    <link rel="stylesheet" href="../static/css/blog-style/tablet.css">
    <link rel="stylesheet" href="../static/css/blog-style/desktop.css">
    <link rel="stylesheet" href="../static/css/blog-style/big-screens.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitchop-.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitch.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <title>Website Specs</title>
</head>
<body>
    <header>
        <div>
            <h1 id="title">Website Specifications</h1>
        </div>
    </header>
    <nav>

    </nav>
    <main>
        <h2>Hosting</h2>
        <p>This is an website hosted on Oracle Kubernetes Cluster (OKE), managed by</p>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima tenetur, veritatis sunt laborum eveniet aperiam repellat? Modi commodi quam eius mollitia non est quis. Odio consequuntur sequi asperiores earum hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae sit odio eligendi illo vel odit itaque! Ratione, aliquam voluptatem. Placeat magnam esse vitae, quidem nam aliquam blanditiis delectus non.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt et vero eum aperiam voluptatem iure impedit similique necessitatibus recusandae consequatur veritatis, quos reiciendis dolore reprehenderit unde numquam itaque quis.</p>
    </main>
</body>
</html>