<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog-style/style.css">
    <link rel="stylesheet" href="../static/css/blog-style/print.css">
    <link rel="stylesheet" href="../static/css/blog-style/tablet.css">
    <link rel="stylesheet" href="../static/css/blog-style/desktop.css">
    <link rel="stylesheet" href="../static/css/blog-style/big-screens.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitchop-.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitch.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <title>Hi!</title>
</head>
<body>
    <header>
    </header>
    <nav>
        <!--Nav content-->
    </nav>
    <div id="fotoblogdiv">
      <img id="fotoblog" src="https://avatars.githubusercontent.com/u/51239326?v=4" alt="">
    </div>
    <main>
      <section id="getintouch">
        <p>Hello! I'm glad to see you, so.. lets talk about me alright? I have a degree in Systems Analysis and Development, I like everything related to IT, Devops, Linux, Development and I also edit in the graphic design area as a hobby.</p>
        <br>
        <p>I'm currently working as an infrastructure and support analyst SRE. I'm looking for opportunities to develop knowledgement and I'm always looking to learn more and more, building my career with good relationships and good work.</p>
        <br>
        <p>My decision to always like this area related to information technology (IT) began when I was a teenager, when I had the opportunity to take a computer assembly and maintenance course and my mind was opened up to this whole IT universe, managing to earn some money doing computer maintenance with the help of a great teacher I had, Michel Paulo. From there I ended up taking an Industrial Apprenticeship Course, where I learned a lot from all the teachers who taught me a lot of things, some of which I will never forget. Then, after finishing this course, I went to the University of Technology (FATEC), which also provided me with a great apprenticeship, leading me even more towards the IT area, with great and competent teachers I was able to get to now this area even more and really decided to pursue my projects in it.</p>
        <br>
        <p>At the same time as university, I worked on a volunteer project at the Jadyr school in the city of Santa Bárbara D'oeste, teaching computer hardware and guitar to children. Also after volunteering, I did my internship at the firt company (Vector), where I gained even more experience in the development environment and in the T-SQL programming language.</p>
        <br>
        <p>Thank you for your attention.</p> 
      </section>
    </main>
    <footer>
        <!--Footer content-->
    </footer>
</body>
</html>