<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog-style/style.css">
    <link rel="stylesheet" href="../static/css/blog-style/print.css">
    <link rel="stylesheet" href="../static/css/blog-style/tablet.css">
    <link rel="stylesheet" href="../static/css/blog-style/desktop.css">
    <link rel="stylesheet" href="../static/css/blog-style/big-screens.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitchop.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitch.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <title>Contact Info.</title>
</head>
<body>
    <header>
    </header>
    <nav>
        <!--Nav content-->
    </nav>
    <main>
      <section id="getintouch">
        <p>Email: yohrannes@gmail.com</p>
        <br>
        <p>Phone: (19) 9 9339-4280</p>     
      </section>
    </main>
    <footer>
        <!--Footer content-->
    </footer>
</body>
</html>